
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cedarville+Cursive&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background:linear-gradient(60deg,rgb(0, 0, 0),rgb(64, 0, 255));
    color:white;
    text-shadow: 0 0 3px blue;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    min-height: 80vh;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Gulf_of_Eilat_%28Red_Sea%29_coral_reefs.jpg/450px-Gulf_of_Eilat_%28Red_Sea%29_coral_reefs.jpg");
    background-clip: content-box;
    background-position-x: center;
    background-repeat:repeat;
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
    font-family:cursive;
}
@media  screen and (max-width: 1000px) {
    .tresc, article {
        padding: 0 !important;
    }
    legend {
        margin-top: -80px !important;
    }
}

::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
main div {
    width: 100%;
}
#glowna{
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}

li {
    text-decoration: none;
    list-style-type: none;
    font-size:48px;
    font-family: cursive;
}
.tresc,article {
    width: 100%;
    min-height: 20px;
     background:linear-gradient(45deg,rgba(0, 0, 255, 0.584),black);
     border-radius: 28px;
     margin-top: 120px;
     padding: 28px;
     box-shadow: 0 0 20px green;
     text-shadow: 0 0 3px rgb(0, 0, 0);
     font-size:40px;
     text-align: center;
     font-family: "Caveat", cursive;
     font-weight: 900;
}
legend {
    margin-top:-100px;
    position: absolute;
    font-size: 48px;
    background:linear-gradient(45deg,rgba(0, 128, 0, 0.477),black);
    border-radius: 28px;
    box-shadow:0 0 20px yellowgreen;
    padding: 8px;
    margin-left: 20px;
}
h1{
    margin:0;
}
ul {
    left:0;
    margin:0;
    padding: 0;
}
h1{ 
    font-size: 68px;
}

.galeria{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.galeria img {
    width: 328px;
    height: 288px;
    border:3px solid green;
    border-radius: 28px;
    float: left;
    margin: 10px;
    cursor: pointer;
}

.wysrodkuj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}



slider img {
    max-width: 30%;
    max-height: 288px;
    cursor: pointer;
}


.galeria div > div {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 288px; 
    font-size: 48px;
    cursor: pointer;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    left: 0;
}


.galeria div:hover > img {
    opacity: 0.2;
}

a {
    text-decoration: none;
    color: white;
}


@media screen and (max-width:1000px) {
    #glowna {
        width: 94%;
        width: auto;
    }
}
a div {
    position: relative;
}


@media  screen and (max-width:338px) {
    .galeria img {
        max-width: 93% !important;
        margin:2% !important;
    }
    h1 {
        font-size: 28px;
    }

    .galeria div > div {
        font-size: 24px;
    }
    #glowna { 
        width: 100% !important;
        margin:0;
    }
    main {
        width: 100% !important;
    }
    .tresc, article {
        padding: 0;
    }
    body {
        margin:0;
    }
}

